doctype html
html(lang="en")
    head
    body
        table(border="1")
          tr
            th Title
            th Content
          each item in allArticles
            tr
              th #{item.title}
              th #{item.content}
        form(method="POST", action="/article/new")
          label Title:
          input(type="text", name="title")
          label content:
          input(type="text", name="content")

          button(type='submit') Submit